<nav style="background-color:#242424; color:white" class="navbar navbar-expand-sm">
    <a id="brand" style="color:#ffffff" class="navbar-brand" href="#"><span style="color:red" class="fa fa-youtube-play"></span> Youtube</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
        <li style="padding-left: 250px" class="nav-item">
            <form class="form-inline"  action="searchYoutube" method="post">
                <div class="form-group">
                    <input style="background-color:#242424; color: white; height: 27px" type="text" class="form-control" placeholder="Search.." name="youtube" method="post">
                    <input style="height: 35px" type="submit" class="btn btn-dark" value="Search">
                </div>
            </form>
        </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
            <li></li>
        </ul>
    </div>
</nav>
<div class="container-fluid" style="background-color:#242424">
    <div class="container youtubeProfile" style="color: white; background-color:#242424">
        <div class="container padY60 padX0">
            <b>Channel Name: </b> <strong class="channelName"></strong><br>
            <b>About This Channel</b><br>
            <b>Subs: </b> <strong class="odometer subs">0</strong><br>
            <b>Views: </b> <strong class="odometer views">0</strong><br>
            <b>Video Count: </b> <strong class="odometer odoVideos"></strong>
        </div>
    </div>
    <hr>
</div>
<style>
    .youtubeProfile {
        height: 300px;
        resize: horizontal;
    }

    #brand a {
        padding-right: 300px;
    }
</style>