<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/github/<%= user.id %>"><span class="fa fa-github fa-lg"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li style="width: 300px"><a style="color:white" class="nav-link" href="/github/<%= user.id %>"><%= user.name %>'s <span class="fa fa-github"></span> Repositories</a></li>
        </ul>
        <ul class="navbar-nav">
            <li style="float: right"><a style="color: white" class="nav-link" href="/profile">Profile</a></li>
            <li ><a style="color: white" class="nav-link" href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>