<% var rootPath = '../../../'; %>
<!DOCTYPE html>
<html>
	<head>
		<title>Account Setup</title>
		<link rel="stylesheet" type="text/css" href="/css/page.css">
		<style>
			.twitchBtn {
				background-color: blueviolet;
				color: white;
			}
			.twitchBtn:hover {
				background-color: white;
				color: blueviolet;
			}
		</style>
			<%- include(rootPath + 'partials/includes') %>
	</head>
	<body>
		<%- include(rootPath + 'partials/lnav') %>
		<div class="container-fluid softwareImg">
			<div class="container softwareDiv">
				<h1 class="leftTitle subTitle white" style="padding-top: 50px; padding-left: 0px"><b><span class="fa fa-lock"><a style="color:#ffffff" href="/my_profile">Account Setup</span></a></b></h1>
				<a href="/logout" style="float: right" class="btn btn-danger btn-sm"><span class="fa fa-lock"> Logout</span></a>
				<div class="row">
					<div class="col-sm-6">
						<p style="color: white">
							<h3 style="color: white"><span class="fa fa-user"></span> Link Accounts</h3><br>
							<a href="/auth/twitter" style="height: 50px; font-size: x-large" class="btn btn-info btn-block"><span class="fa fa-twitter">Twitter</span></a><br><br>
							<a href="/auth/twitch" style="height: 50px; font-size: x-large" class="btn twitchBtn btn-block"><span class="fa fa-twitch">Twitch</span></a><br><br>
							<a href="/auth/youtube" style="height: 50px; font-size: x-large" class="btn btn-danger btn-block"><span class="fa fa-youtube"> Coming Soon!</span></a><br><br>
							<a href="/auth/github" style="height: 50px; font-size: x-large" class="btn btn-success btn-block"><span class="fa fa-github">Github</span></a><br><br>
							<a href="/add_bio" style="height: 50px; font-size: x-large" class="btn btn-primary btn-block">Add A Bio</a><br>

						</p>
					</div>
					<%= typeof msg != 'undefined' ? msg : '' %>
					<div class="well" style="float: right">
						<h3 style="color:#ffffff">Upload Header Photo</h3>
						<form id="frmUploader" enctype="multipart/form-data" action="uploadHeader" method="POST">
							<input style="color:#ffffff" type="file" name="imgUploader" accept="image/*">
							<input type="submit" name="submit" class="btn btn-primary" id="btnSubmit" value="Upload">
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="scripts/ajax/submit.js"></script>
	<%- include(rootPath + 'partials/footer') %>
	</body>
</html>
