<% var rootPath = '../../../'; %>
<!DOCTYPE html>
<html>
	<head>
		<title>Account Setup</title>
		<link rel="stylesheet" type="text/css" href="/css/page.css">
			<%- include(rootPath + 'partials/includes') %>
	</head>
	<body>
		<%- include(rootPath + 'partials/lnav') %>
		<div class="container-fluid softwareImg">
			<div class="container softwareDiv">
				<h1 class="leftTitle subTitle white" style="padding-top: 50px; padding-left: 0px"><b><span class="fa fa-anchor"><a style="color:#ffffff" href="/my_profile">Account Setup</span></a></b></h1>
				<a href="/logout" style="float: right" class="btn btn-danger btn-sm"><span class="fa fa-lock"> Logout</span></a>

				<div class="row">
					<div class="col-sm-6">
						<div class="well">
							<h3 style="color:#ffffff"><span class="fa fa-user"></span> Link Accounts</h3>
							<p style="color:#ffffff">
								<strong>Twitter</strong>: <a href="/auth/twitter" class="btn btn-info btn-xs"><span class="fa fa-twitter"></span></a><br><br>
								<strong>Twitch</strong>: <a href="/auth/twitch" class="btn btnTwitch btn-xs"><span class="fa fa-twitch"></span></a><br><br>
								<strong>Facebook</strong>: <a href="/auth/facebook" class="btn btn-primary btn-xs"><span class="fa fa-facebook"></span></a><br><br>
								<strong>Youtube</strong>: <a href="/auth/facebook" class="btn btn-danger btn-xs"><span class="fa fa-youtube"></span></a><br><br>
								<strong>Instagram</strong>: <a href="/auth/facebook" class="btn btn-primary btn-xs"><span class="fa fa-instagram"></span></a><br><br>
								<strong>Github</strong>: <a href="/auth/facebook" class="btn btn-success btn-xs"><span class="fa fa-github"></span></a><br>
							</p>
						</div>
						<%= typeof msg != 'undefined' ? msg : '' %>
						<div class="well" style="float: right">
							<h3 style="color:#ffffff">Upload Header Photo</h3>
							<form id="frmUploader" enctype="multipart/form-data" action="uploadHeader" method="POST">
								<input style="color:#ffffff" type="file" name="imgUploader" accept="image/*">
								<input type="submit" name="submit" class="btn btn-primary" id="btnSubmit" value="Upload">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="scripts/ajax/submit.js"></script>
	<%- include(rootPath + 'partials/footer') %>
</body>
</html>
