<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/profile">Twitch <span class="fa fa-twitch fa-lg"></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav">
    <li style="color:#BF94FF" class="nav-item active"><a class="nav-link" href="#">Feed</a></li>
    <li class="nav-item active"><a class="nav-link" href="#">Posts</a></li>
    <li class="nav-item active"><a class="nav-link" href="#"></a></li>
    <li class="nav-item active"><a class="nav-link" href="#"></a></li>
  </ul>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
        <li style="color:#ffffff"></li>
    </ul>
  </div>
</nav>
<div class="container">
  
</div>
<div class="container-fluid" style="background-color:#24292E">
    <div class="container" style="background-color:#24292E">
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <h3 style="color:#BF94FF"><span class="fa fa-twitch" style="color:#BF94FF"></span> Twitch</h3>
                    <strong>Name: </strong><b class="twitter_name"></b><br>
                    <strong>User @: </strong><b class="screen_name"></b><br>
                    <strong>Location: </strong><b class="location"></b><br>
                    <strong>Description: </strong><b class="description"></b><br>
                    <strong>Followers: </strong><b class="odometer followers"></b><br>
                    <strong>Following: </strong><b class="odometer following"></b><br>
                    <strong>Created At: </strong><b class="created_at"></b><br>
                    <strong>Likes: </strong><b class="odometer likes"></b><br>
                        <strong>Tweets: </strong><b class="odometer tweets"></b>
                </div>
            </div>
        </div>
    </div>
</div>
