<nav class="navbar navbar-expand-lg navbar-dark bg-dark">  
  <a class="navbar-brand" href="/twitch/<%= user.id %>"><span style="color: blueviolet" class="fa fa-twitch fa-lg"></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Twitch" aria-controls="Twitch" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="Twitch">
    <ul class="navbar-nav mr-auto">
      <li style="width: 300px"><a style="color: white" class="nav-link" href="/twitch/<%= user.id %>"><%= user.name %>'s <span style="color: blueviolet" class="fa fa-twitch"> Twitch</span></a></li>
    </ul>
    <ul class="navbar-nav">
      <form id="searchForm" class="form-inline" action="/searchChannels" method="post">
        <select class="btn btn-dark" name="selection" form="searchForm">
          <option value="Games">Games</option>
          <option value="Streams">Stream</option>
          <option value="Channels">Channels</option>
        </select>
        <div class="form-group">
            <input type="text" style="width: 300px; height: 30px" class="form-control" placeholder="Search Twitch.." name="type">
            <button type="submit" class="btn btn-dark"><span style="color: blueviolet" class="fa fa-search fa-lg"></span></button>
        </div>
      </form>    
    </ul>
  </div>
</nav>

<style>
    .twitchProfile {
      height: 300px;
      resize: horizontal;
    }
    b {
      position: relative;
    }
  
    input {
      max-width: 200px;
      height : 27px
    }
    @media (max-width: 500px) {
      #streams {
        font-size: x-small;
      }
      #streams h5 p {
        max-width: 50px;
        resize: vertical;
      }
    }
</style>

<div class="container-fluid" style="color:white; background-color:#24292E">
  <div class="container twitchProfile">
    <div class="container padY60 padX0">
        <div id="twitchProfile"></div>
    </div>
  </div>
  <br>
  <hr>
  <div class="container-fluid">
    <h4>Live Channels</h4><br>
    <p style="color:#BF94FF" id="streams"></p>
  </div>
</div>

