<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/profile">Twitch <span class="fa fa-twitch fa-lg"></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav">
    <li style="color:#BF94FF" class="nav-item active"><a class="nav-link" href="#">Feed</a></li>
    <li class="nav-item active"><a class="nav-link" href="#">Posts</a></li>
    <li class="nav-item active"><a class="nav-link" href="#"></a></li>
    <li class="nav-item active"><a class="nav-link" href="#"></a></li>
  </ul>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
        <li style="color:#ffffff"></li>
    </ul>
  </div>
</nav>

<div class="container-fluid" style="color:white; background-color:#24292E">
  <div class="container twitchProfile">
    <div class="container padY60 padX0">
        <p id="twitchAvi"></p>
        <b>Twitch Name: </b><strong class="display_name"></strong><br>
        <b>Followers: </b><strong class="twitchFollowers"></strong><br>
        <b>Views: </b><strong class="twitch_views"></strong><br>
        <b>Last Seen Playing </b> <strong class="last_played"></strong><br>
        <b>With Status </b><strong class="twitch_status"></strong>
    </div>
  </div>
  <br>
  <form style="float: right" class="form-inline" action="searchChannels" method="post">
    <h5 type="text">Search Twitch</h5>
    <div class="form-group">
      <input type="text" class="form-control" name="channels">
      <input type="submit" class="btn btn-primary btn-sm" value="Search">
    </div>
  </form><br>
  <hr>
  <div class="container-fluid">
    <h4>Live Channels</h4><br>
    <p style="color:#BF94FF" id="streams"></p>
  </div>
</div>
<style>
  .twitchProfile {
    height: 300px;
    resize: horizontal;
  }
  b {
    position: relative;
  }

  input {
    max-width: 200px;
    height : 27px
  }
  @media (max-width: 500px) {
    #streams {
      font-size: x-small;
    }
    #streams h5 p {
      max-width: 50px;
      resize: vertical;
    }
  }
</style>
<script>
  $(document).ready(function() {
    userTwitch();

    function userTwitch() {
      $.getJSON('/twitchTimeline', function(data) {
        var list = data.twitch;
        console.log(data);
        document.getElementById("twitchAvi").innerHTML +=
      '<img class="circleImg" src=' + list.logo + '>';
      $('.created_twitch').html(list.created_at);
      $('.display_name').html(list.display_name);
      $('.twitchFollowers').html(list.followers);
      $('.last_played').html(list.game);
      $('.twitch_avi').html(list.logo);
      $('.twitch_status').html(list.status);
      $('.twitch_url').html(list.url);
      $('.twitch_views').html(list.views);
    })
  }
})
</script>
