<div class="container-fluid" style="background-color:#29C9FF">
			<div class="container" style="background-color:#29C9FF">
        <div class="row">
          <div class="col-sm-6">
            <div class="well">
              <h3 style="color:#ffffff"><span class="fa fa-twitter" style="color:#ffffff"></span> Twitter</h3>
              <strong>Name: </strong><b class="twitter_name"></b><br>
              <strong>User @: </strong><b class="screen_name"></b><br>
              <strong>Location: </strong><b class="location"></b><br>
              <strong>Description: </strong><b class="description"></b><br>
              <strong>Followers: </strong><b class="odometer followers"></b><br>
              <strong>Following: </strong><b class="odometer following"></b><br>
              <strong>Created At: </strong><b class="created_at"></b><br>
              <strong>Likes: </strong><b class="odometer likes"></b><br>
              <strong>Tweets: </strong><b class="odometer tweets"></b>
					</div>
				</div>
			</div>
		</div>
	</div>

