<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/page.css">
        <style>
            .softwareDiv {
                color : white !important;
            }

            .line {
                background-color : white;
            }
        </style>
        <% include ../partials/includes %>
    </head>
    <body>
        <% include ../partials/lnav %>
        <div class="container-fluid softwareImg">
            <div class="container softwareDiv">
                <h1 class="leftTitle subTitle white" style="padding-top: 50px; padding-left: 0px"><b>Documentation</b></h1>
                <h2>Project Overview and Objectives</h2>
                <p>

                </p>
                <div class="line"></div>
                <h2>Requirements</h2>
                <ul>
                    <li>Description</li>
                    <li>Functional vs. Non-Functional</li>
                    <li>Structured Requirements</li>
                </ul>
                <div class="line"></div>
                <h2>Design</h2>
                <ul>
                    <li>Design Rationale and Decisions</li>
                    <li>Design Diagrams (Class, Use Case, Sequences)</li>
                </ul>
                <p>Use SRS!!</p>
                <div class="line"></div>
                <h2>Implemenation</h2>
                <ul>
                    <li>Detais (languages used, env)</li>
                </ul>
                <div class="line"></div>
                <h2>Testing Activities</h2>
                <div class="line"></div>

                <h2>Appendices</h2>
                <ul>
                    <li>Meeting Minutes</li>
                    <li>Major Code Components</li>
                    <li>User Manual make href</li>
                    <li>Issues / Bugs</li>
                    <li>Future Work!!</li>
                </ul>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>