<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/page.css">
    <%- include ('../partials/includes') %>
  </head>
  <body>
    <%- include ('../partials/inav') %>
    <div class="indexImg">
      <div class="homeDiv center">
        <h1 class="titleMain"><b>Welcome to Platform</b></h1>
        <p><b>Track your social media.</b></p>
      </div>
    </div>
  </div>

    <%- include ('../partials/footer') %>
    <script src="includes/jquery.min.js"></script>
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
