<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/page.css">
        <style>
            .twitchProfile {
                height: 300px;
                resize: horizontal;
            }

            @media (max-width: 700px) {
                #twitchAssets {
                    font-size: x-small;
                    resize: horizontal;
                }

                #liveChannels {
                    font-size : x-small;
                    resize: horizontal;
                }
            }
        </style>
        <% include ../partials/includes %>
    </head>
    <body>
        <% include ../partials/twitchnav %>
        <div class="container-fluid" style="background-color:#24292E">
            <div class="container twitchProfile" style="color: white; background-color: #24292E">
                <div class="container padY60 padX0">
                    <p id="twitchAssets"></p>
                  
                </div>
            </div>
            <br>
            <hr>
            <div style="height: 100px"></div>
            <div class="container-fluid" style="color: white">
                <p id="liveChannels"></p>
            </div>
            <% include ../partials/footer %>
        </div>
        <script>
            $(document).ready(function() {
                var url = window.location.pathname;
                var new_url = (url.substring(8, url.length))
                loadTwitch();

                function loadTwitch() {
                    $.getJSON('/liveChannels/' + new_url, function(data) {
                        if (data.live == 0) {
                            nullChannles();
                        } else {
                            var arr = data.live.streams;
                            arr.forEach(getStreams);
                            twitchAssets();
                        }
                    })
                }

                function nullChannles() {
                    document.getElementById("twitchAssets").innerHTML +=
                    '<div class="container">' +
                        '<h5 style="color: white">' + "Oops! User Hasnt Linked There Twitch Yet." + '</h5>' + '<br>' +
                    '</div>';
                }

                function twitchAssets() {
                    $.getJSON('/twitchTimeline/' + new_url, function(asset) {
                        if (asset.twitchChannel == 0) {
                            nullChannles();
                        } else {
                            var assets = asset.twitchChannel;
                            document.getElementById("twitchAssets").innerHTML +=
                            '<div class="container padY60 padX0">' +
                                '<img class="circleImg" src=' + assets.logo + '>' + '<br>' +
                                    '<b>' + "Twitch Name: " + '<a style="color: white" href=' + assets.url + '>' + assets.display_name + '</a>' + '</b>' + '<br>' +
                                    '<b>' + "Followers: " + assets.followers + '</b>' + '<br>' +
                                    '<b>' + "Views: " + assets.views + '</b>' + '<br>' +
                                    '<b>' + 
                                        "Last Seen Playing " + assets.game + '<br>' +
                                        "With Status " + assets.status + '</b>' + 
                            '</div>';
                        }
                    });
                }

                function getStreams(item, index) {
                    var game_url = 'https://twitch.tv/directory/game/' + item.game;
                    var profile_url = 'https://twitch.tv/' + item.channel.display_name;
                    document.getElementById("liveChannels").innerHTML +=
                    '<div class="media">' + 
                        '<img class="mr-3" src=' + item.preview.small + '>' +
                            '<div class="media-body">' +
                                '<h5 style="color: #BF94FF" class="mt-0">' + '<a style="color:#BF94FF" href=' + profile_url + '>' + item.channel.display_name + '</a>' + " Is Playing " + '<a style="color: #BF94FF" href=' + encodeURI(game_url) + '>' + item.game + '</a>' + " To " + item.viewers + " Viewers" + '</h5>' +
                                '<b>' + "Followers: " + item.channel.followers + '</b>' + '<br>' + 
                                '<b>' + item.channel.display_name + " Averages About " + item.average_fps + " fps." + '</b>' + '<br>' +
                                '<a class="btn btn-danger btn-sm" href=' + item.channel.url + '>' + "Live" + '</a>' +
                            '</div>' +
                    '</div>' + '<hr>';  
                }
            });
        </script>
    </body>
</html>