<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/page.css">
        <style>
            .twitterProfile {
                height : 300px;
                resize: horizontal;
            }

            @media (max-width: 700px) {
                #profileAbout {
                    font-size : x-small;
                    resize: horizontal;
                }

                #tweets {
                    font-size: x-small;
                    resize: horizontal;
                }
            }

        </style>
        <%- include ('../partials/includes') %>
    </head>
    <body>
        <%- include ('../partials/twitternav') %>
        <div class="container-fluid" style="background-color:#15202B; color: white">
            <div class="container twitterProfile" style="background-color: #15202B">
                <div class="container padY60 padX0">
                    <p id="profileAbout"></p>
                </div>
            </div>
            <br>
            <hr>
            <div style="height: 100px"></div>
                <div class="container-fluid">
                    <h4>20 Recent tweets from </h4>
                    <p id="tweets"></p>
                </div>
                <%- include ('../partials/footer') %>
        </div>
        <script>
            $(document).ready(function() {
                var url = window.location.pathname;
                var user_id = (url.substring(9, url.length));

                loadTwitter(); 

                function loadTwitter() {
                    $.getJSON('/twitterTimeline/' + user_id, function(data) {
                        var tweets = data.twitter;

                        if (tweets == 0) {
                            nullTwitter();
                        } else {
                            var assets = data.twitter[0].user;
                            tweets.forEach(writeHtml);
                            twitterAssets(assets);
                        }
                    });
                }

                function nullTwitter() {
                    document.getElementById("profileAbout").innerHTML +=
                    '<div class="container padY60 padX0">' +
                        '<h5 style="color: white">' + "Oops! User Hasnt Linked There Twitter Yet." + '</h5>' + '<br>' +
                    '</div>';
                }
    

                function twitterAssets(assets) {
                    document.getElementById("profileAbout").innerHTML +=
                    '<div class="container padY60 padX0">' +
                        '<img src=' + assets.profile_image_url + '>' + '<br>' +
                            '<b>' + assets.name + '</b>' + '<br>' +
                            '<b>' + "Following: " + assets.friends_count + '</b>' + '<br>' +
                            '<b>' + "Followers: " + assets.followers_count + '</b>' + '<br>' +
                            '<b>' + "Tweets: " + assets.statuses_count + '</b>' + '<br>' +
                            '<b>' + "Likes: " + assets.favourites_count + '</b>' + '<br>' +
                            '<b>' + "Location: " + assets.location + '</b>' + '<br>' +
                            '<b>' + "Bio: " + assets.description + '</b>' + '<br>' +
                    '</div>';
                }

                function writeHtml(item, index) {
                    var profile_url = "https://twitter.com/" + item.user.screen_name;
                    document.getElementById("tweets").innerHTML +=
                    '<div class="media">' +
                        '<img class="mr-3" src=' + item.user.profile_image_url + '>' +
                            '<div class="media-body">' +
                                '<h5 class="mt-0">' + item.user.name + '</h5>' +
                                    '<p>' + item.text + '<br>' +
                                        "Tweeted At: " + item.created_at + '<br>' +
                                        '<a class="btn btn-info btn-sm" href=' + profile_url + '>' + "Profile" + '</a>' +
                                    '</p>' +
                            '</div>' + 
                    '</div>' + '<hr>';
                }
            });
        </script>
    </body>
</html>