<!DOCTYPE html>
<html>
	<head>
		<title>User List</title>
		<link rel="stylesheet" type="text/css" href="/css/page.css">
			<% include ../partials/includes %>
	</head>
	<body>
		<% include ../partials/lnav %>
		<div class="container-fluid softwareImg">
			<div class="container softwareDiv">
				<h1 class="leftTitle subTitle white" style="padding-top: 50px; padding-left: 0px"><b>Find Users!</b></h1>
				<div class="row">
					<div class="col-sm-6">
						<h3 style="color: white; ">All Users On Platform.io</h3>
					</div>
				</div>
				<br>
				<p style="color: white" id="users"></p>
            </div>
        </div>
			<% include ../partials/footer %>
			<script>
			$(document).ready(function() {
				loadUsers()

				function loadUsers() {
					$.getJSON('/user_list', function(data) {
						for (var i = 0; i < data.users.length; i++) {
							var profile_url = '/profile/' + data.users[i].id; 
							document.getElementById("users").innerHTML +=
							'<div class="media">' +
								'<span class="mr-3 fa fa-user fa-lg">' + '</span>' +  
								'<div class="media-body">' + 
									'<h5 class="mt-0">' + '<a style="color: white" href=' + profile_url + '>' + data.users[i].name + '</a>' + '</h5>' +
									'<p style="color: white">' + 
										"Username: " + data.users[i].email + '<br>' +
									'</p>' +
								'</div>' +
        					'</div>' + '<hr>';
						}
					});
				}
			});
			</script>
	</body>
</html>
