<% var rootPath = '../../partials/'; %>
<link rel="stylesheet" href="css/sidebar.css">
<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3><%= user.name %></h3>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="smoothScrollBtn" href="#aboutME">About Me</a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Accounts</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a style="color:#00ffff" data-toggle="tab" href="#twitter"><span class="fa fa-twitter fa-lg"></span></a>
          </li>
          <li>
            <a style="color:#BF94FF" data-toggle="tab" href="#twitch"><span class="fa fa-twitch fa-lg"></span></a>
          </li>
          <li>
            <a style="color:#28A745" data-toggle="tab" href="#github"><span class="fa fa-github fa-lg"></span></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="/documentation">Docs</a>
        <a href="/account_setup">Setup</a>
      </li>
    </ul>
  </nav>

  <div id="content">
    <nav class="sidenav sidenav-expand-lg sidebar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="sidenav-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse sidebar-collape" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Page</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <form id="postForm" action="pusherTest" method="post">
      <h3 class="text">Status Update</h3>
      <div class="form-group">
        <textarea type="text" class="form-control" name="status"></textarea>
      </div>
      <button type="submit" style="max-width: 300px" class="btn btn-primary btn-block mx-auto">Post</button>
    </form>

    <div class="line"></div>
    <div class="tab-content">
      <div id="profile" class="tab-pane fade in active">
        <h2>(this) is active</h2>
      </div>
      <div id="twitter" class="tab-pane fade in">
        <%- include(rootPath + 'twitter/twitter') %>
      </div>
      <div id="twitch" class="tab-pane fade in">
        <%- include(rootPath + 'twitch/twitch') %>
      </div>
      <div id="github" class="tab-pane fade in">
        <%- include(rootPath + 'github/github') %>
      </div>
    </div>
    

    <h2>Feed</h2>
    <p></p>

    <div class="line"></div>

    <h2>More Content</h2>
    <p></p>

    <div class="line"></div>

    <h3>More Content</h3>
    <p></p>
  </div>
</div>
<script src="https://js.pusher.com/5.0/pusher.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
      $(this).toggleClass('active');
    });

  });
</script>
